.container {
    background: aqua;
    display:grid;
    /* 값이 몇개든지 한번에 */
    /* 부모에 한번에 값 주는거 가능 */
    /* grid-template-rows:100px 50px 50px 100px;  */
    /* grid-template-rows:repeat(4,100px);  */
    /* grid-template-rows:repeat(2,100px) repeat(2,150px);  */
    /* grid-template-rows:repeat(4,minmax(150px,300px));  최소 최대 값*/
    /* grid-template-rows:[트랙명] 트랙값 [트랙명] 트랙값; */
    /* grid-template-rows:[header] 50px [nav] 100px [main] 150px [footer] 200px */
    /* grid-template-columns:100px 50px 100px; */
    /* grid-template-rows:100px 200px; */
    /* grid-template-columns: repeat(2,100px) repeat(2,200px); */
    /* grid-template-columns: [header] 50px [nav] 100px [main] 150px [footer] 200px; */
    /* --------------grid 2부 연습 */
    grid-template-areas: 
        'item1 item2'
        '. item3'
        '. item4';
    grid-template-rows: repeat(3,50px);
    grid-template-columns:repeat(2,1fr);
}
.container .item {}
.container .item:nth-child(1) {background: pink; grid-area:item1;}
.container .item:nth-child(2) {background: lightsalmon; grid-area:item2;}
.container .item:nth-child(3) {background: lightgoldenrodyellow; grid-area:item3;}
.container .item:nth-child(4) {background: lightgreen; grid-area:item4;}